body {
    position: fixed;
    background-image:"JOURNALIMAGE.jpg"
    background-size: cover;
}
#container {
    height: 700px;
    width: 600px;
    border-right: 3px black solid;
    border-left: 3px black solid;
    border-bottom: 3px black solid;
    position: fixed;
    margin: 10px auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.row {
    margin: 0;
}
.current .item{
    background-color: rgba(112,112,112,0.7);
}
.entry {
    background-color: rgba(216, 209, 209, 0.7);
    border-top: 3px solid black;
}
.item {
    cursor: pointer;
    padding-top: 7px;
    padding-bottom: 18px;
}
.description {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.item .date {
    margin-left: 20px;
    font-weight: bold;
    font-style: italic;
}
.item .title {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
